.so-widget-sow-slider-default-dd5b610e1a48 .sow-slider-base .sow-slider-pagination li a {
  background: #999999;
}
.so-widget-sow-slider-default-dd5b610e1a48 .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-slider-default-dd5b610e1a48 .sow-slider-base .sow-slide-nav a {
  color: #999999;
}